{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Tasks</h3>

<div class="row">
  <div class="col s12 center-align">
      <a href="{{ url_for('add_task') }}" class="btn-large light-blue darken-2">
          Add Task <i class="fas fa-plus-square right"></i>
      </a>
  </div>
</div>

<!-- <div class="row card-panel grey lighten-3">
  <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul>
</div> -->

{% endblock %}